/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'Shared/common-classes.scss';
@import 'Shared/toastr-style.scss';

@font-face {
  font-family: DM Sans;
  src: url(assets/fonts/DM_Sans/DMSans-Regular.ttf);
}


*{
    font-family: "DM Sans";
    
}

*:host{
  width: 100%;
}
label{
  margin: 0;
}
a{
  color: $secondary-color;

  &:hover{
    color: rgba(24, 255, 117, 1);
  }
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle{
  background-color: rgba(49, 253, 132, 0.5);
}

.content-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.content-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  max-height: none;
  form{
      display: flex;
      flex-direction: column;
  }
}

.home-text{
  font-size: 32px;
  font-weight: bold;
  color: $primary-color;
}

table{
  width: 100%;
  border: none;
}
th{
  background-color: #eee;
  padding:10px;
}
td{
  background-color: rgb(255, 255, 255);
  padding:10px;
}
tr{
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.12);
}