<div class="content-wrapper">
    <div class="title">
        <label>Página Inicial</label>
    </div>

    <div class="content">
        <div class="content-container">
            <div class="content-item">
                <label class="home-text">Tenha acesso aos seus últimos laudos no LACE.</label>

                <form [formGroup]="userForm">
                    <div class="form-group pt-3">
                        <label for="examId">Id do Exame:</label>
                        <input class="form-control" id="examId" type="text" formControlName="examId">
                    </div>

                    <div class="form-group pt-3">
                        <label for="documentType">Tipo do Documento: </label>
                        <select formControlName="documentType" class="form-select">
                            <option selected="selected" value="0">CPF</option>
                            <option value="1">SUS</option>
                            <option value="2">RG</option>
                        </select>
                    </div>

                    <div class="form-group pt-3">
                        <label for="document">Documento: </label>
                        <input class="form-control" id="document" type="text" formControlName="document">
                    </div>
                </form>


                <div class="form-group pt-3">
                    <button class="btn btn-primary w-100" (click)="onDownload()">Baixar</button>
                </div>

            </div>
        </div>
    </div>
</div>