<div class="content-wrapper ">
    <div class="title">
        <label>Sobre</label>
    </div>

    <div class="content-item ">
        <div class="content-item border-bottom bxs-none">
            <h3><strong>Projeto</strong></h3>
            <p class="pt-3 ps-3">
                Este projeto é desenvolvido e distribuído por Nedesk Soluções Empresariais e tecnológicas LTDA. 
                Todos os direitos reservados.
            </p>
        </div>
        <div class="content-item mt-3 border-bottom bxs-none">
            <h3><strong>LACE</strong></h3>
            <div class="content pt-3 ps-3">
                <div class="content-item bxs-none">
                    <h5><b>Redes Sociais</b></h5>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Whatsapp</li>
                    </ul>
                </div>
                <div class="content-item bxs-none">
                    <h5><b>Contatos</b></h5>
                    <ul>
                        <li>E-mail 1</li>
                        <li>E-mail 2</li>
                        <li>E-mail 3</li>
                    </ul>
                </div>
                <div class="content-item bxs-none">
                    <h5><b>Endereço</b></h5>
                    <ul>
                        <li>Rua xxx número xxx, Aliança - Pernambuco, CEP 55890</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>