$primary-color: rgb(15, 58, 15);
$primary-color-border: #567a53;
$secondary-color: #ff0000;
$terciary-color: #ccc;
$background-color: #fff;
$background-color-dark: rgb(42,42,42);
$font-color: #333;
$font-color-dark: #fff;
$header-height: 60px;


