$primary-color: #405c3e;
$primary-color-border: #567a53;
$secondary-color: #e61f1f;
$terciary-color: #ccc;
$background-color: #fff;
$background-color-dark: rgb(42,42,42);
$font-color: #333;
$font-color-dark: #fff;
$header-height: 60px;


